@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    height: 100%;
    background-color: rgb(246, 247, 249);
}

input:focus {
    box-shadow: 0 0, 0 0 5px #64b864;
    background-color: transparent;
}
